%h1 Movies#edit
%p Find me in app/views/movies/edit.html.haml
= form_tag movie_path, :method => :put do
  = label :movie, :title, 'Title'
  = text_field :movie, :title
  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17']
  = label :movie, :release_date, 'Released on'
  = date_select :movie, :release_date
  = submit_tag 'Save changes'